﻿<ion-modal-view>
    <!--<meta charset="utf-8">-->
    <ion-header-bar style="background-color: #0297bf;">
        <h1 class="title" style="color:white;">Авторизация</h1>
        <!--<div class="buttons">
          <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>-->
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-borderless">
                    <label style="padding:0px;border-left:none;border-top:none;border-right:none" class="item item-input item-stacked-label">
                        <span class="input-label" style="color: #1d1d26;">Телефон</span>
                        <input type="tel" ng-model="loginData.username">
                    </label>
                    <label style="padding:0px;border-left:none;border-top:none;border-right:none" class="item item-input item-stacked-label">
                        <span class="input-label" style="color: #1d1d26;">Пароль</span>
                        <div style="
                             width 100%;
                             height 100%;
                             "><input type="password" ng-model="loginData.password" style="width: 60%;
         margin: 0px;
         float:left;
         "><a style="text-decoration:none;float:right;position:relative;">
        Забыл пароль</a>
    </div></label>
                    <button class="button button-block " style="background-color: #43d8ff;color:white;" type="submit">Войти</button>
                    <label style="padding:0px;border:none;font-size: small;text-align: center;" class="item item-input item-stacked-label">
                        <span>У ВАС НЕТ АККАУНТА?</span>
                        <a href="#" style="text-decoration: none;">ЗАРЕГИСТРИРОВАТЬСЯ!</a>
                    </label>
                </label>
            </div>
        </form>
        <div style="background: url(img/back1.png) no-repeat;
position: absolute;
    width: 112px;
    height: 112px;
    bottom: 0px;
    right: 0px;"></div>
    </ion-content>
</ion-modal-view>
<!--<label style="padding:0px;border-left:none;border-top:none;border-right:none" class="item item-input item-stacked-label">
    <span class="input-label" style="color: #1d1d26;" aria-label="Пароль" id="_label-1">Пароль</span>
    <div style="
         width 100%;
         height 100%;
         "><input type=" password" ng-model="loginData.password" class="ng-valid ng-dirty ng-valid-parse ng-touched" style="
         width 60%;
         margin 0px;
         float left;
         "><a style="text-decoration: none;float: right;position: relative;/* width: 20%; */">
        Забыл пароль</a>
    </div>
</label>-->