﻿<ion-modal-view>
    <!--<meta charset="utf-8">-->
    <ion-header-bar style="background-color: #0297bf;">
        <h1 class="title" style="color:white;">Авторизация</h1>
        <!--<div class="buttons">
          <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>-->
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item">
                    <label style="padding:0px;border-left:none;border-top:none;border-right:none" class="item item-input item-stacked-label">
                        <span class="input-label" style="color: #1d1d26;">Телефон</span>
                        <input type="tel" ng-model="loginData.username">
                    </label>
                    <label style="padding:0px;border-left:none;border-top:none;border-right:none" class="item item-input item-stacked-label">
                        <span class="input-label" style="color: #1d1d26;">Пароль</span>
                        <input type="password" ng-model="loginData.password">
                    </label>
                    <button class="button button-block " style="background-color: #43d8ff;color:white;" type="submit">Войти</button>
                </label>
            </div>
        </form>
        <div style="background: url(img/back1.png) no-repeat;
position: absolute;
    width: 225px;
    height: 248px;
    bottom: 0px;
    right: 0px;"></div>
    </ion-content>
</ion-modal-view>
