﻿<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
        <style>
            #viewport-container {
                border: none !important;
            }

            ion-side-menu-content {
                border: none !important;
            }
        </style>
<style>
.item-complex,.item-borderless  ion-item a,.item-borderless ion-item{
  /*border:none;*/
  background-color: #0297bf!important;
  color:white!important;
  /*border: none!important;*/
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p{
  white-space: normal!important;
}
.ion-itemHelper{
      float: right;
    width: 153px;
    /* top: 28px; */
    padding-top: 3px;
    padding-left: 14px;
}
ion-item img{    width: 40px;}
</style>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
     
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background-color: #0297bf;">
    <ion-header-bar class="bar-stable"style="background-color: #0297bf;">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        
<!--         <ion-item menu-close href="#/app/search"style="border:none;background-color: #0297bf;color:white">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse"style="border:none;background-color: #0297bf;color:white">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists"style="border:none;background-color: #0297bf;color:white">
          laylists
        </ion-item> -->
        <ion-item menu-close class="item-borderless" href="#/app/search" >
              <img src="img/icons/01.png"><div class="ion-itemHelper"><span>Сообщения</span></div>
        </ion-item>
        <ion-item menu-close class="item-borderless" href="#/app/browse" >
              <img src="img/icons/02.png"><div class="ion-itemHelper"><span>Вызов диспетчера</span></div>
        </ion-item>
        <ion-item menu-close class="item-borderless" href="#/app/playlists" >
              <img src="img/icons/03.png"><div class="ion-itemHelper"><span>Сообщить о проблеме</span></div>
        </ion-item>
        <ion-item menu-close class="item-borderless" href="#/app/playlists" >
              <img src="img/icons/04.png"><div class="ion-itemHelper"><span>Дополнительные возможности</span></div>
        </ion-item>
        <!--<ion-item menu-close class="item-borderless" ng-click="login()" >
              <img src="img/icons/05.png"><div class="ion-itemHelper"><span>Авторизация</span></div>
        </ion-item>-->
        <ion-item menu-close class="item-borderless" href="#/login" >
              <img src="img/icons/05.png"><div class="ion-itemHelper"><span>Авторизация</span></div>
        </ion-item>
      </ion-list>
        <div style="background: url(img/back2.png) no-repeat;
    position: absolute;
    width: 50%;
    background-size: contain;
    height: 25%;
    bottom: 0px;
    left: 10%;"></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
